@charset "utf-8";
code,
pre{
    font-family: 'Source Code Pro', monospace;
}
.higlighted{
    background-color: rgba(0,0,0,0.05);
    padding: 3px;
    border-radius: 3px;
}
/* CONTENT-PAGE
----------------------------------------------------------------------------------------*/

.type-definition-content-page {
    position: relative;
    box-sizing: border-box;
    z-index: 2;
    background-color: #fff;
    min-height: 100%;
    padding-bottom: 1px;
}
.type-definition-content-code{
    width: 50%;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #323f4c;
    border-color: #323f4c;
}
.type-definition-content .central-overflow-x {
    margin-right: calc(50% + 28px);
    margin-left: 28px;
    padding: 0;
    overflow-y: hidden;
    max-width: 100%;
    display: block;
}
.type-definition-content p .central-overflow-x {
    margin-right: 0;
    margin-left: 0;
}
.break-word {
    word-break: break-word;
    overflow-wrap: break-word;
    word-wrap: break-word;
}
.type-definition-content ul,
.type-definition-content ol {
    padding: 0 44px;
}
.type-definition-content h2,
.type-definition-content h3,
.type-definition-content h4,
.type-definition-content h5,
.type-definition-content h6 {
    font-size: 15px;
    margin-top: 2.5em;
    margin-bottom: 0.8em;
    color: #034c8f;
    text-transform: uppercase;
}
.type-definition-content h2{
    font-size: 1.333em;
}
.type-definition-content h4{
    color: #00a8e3;
    margin-top: 0;
    text-transform: none;
    font-size: 14px;
    margin-bottom: 0.2em;
}
.type-definition-content-page .type-definition-content p,
.type-definition-content-page .type-definition-content pre {
    max-width: 680px;
}
.type-definition-content pre,
.type-definition-content blockquote {
    background-color: #323f4c;
    border-color: #323f4c;
    color: #fff;
    padding: 0 28px 2em;
    margin: 0;
    width: 50%;
    float: right;
    clear: right;
    box-sizing: border-box;
}
.type-definition-content pre code, .type-definition-content pre {
    font-size: 12px;
    line-height: 1.5;
}
.type-definition-content blockquote,
.type-definition-content pre,
.type-definition-content pre code{
    padding-top: 0;
    margin-top: 0;
}
.type-definition-content pre code{
    margin-top: -2em;
}
.type-definition-content table {
    font-size: 0.825em;
    margin-bottom: 1.5em;
    border-collapse: collapse;
    border-spacing: 0;
}
.type-definition-content table tr:last-child {
    border-bottom: 1px solid #ccc;
}
.type-definition-content table th {
    font-size: 0.925em;
    padding: 5px 18px 5px 0;
    border-bottom: 1px solid #ccc;
    vertical-align: bottom;
    text-align: left;
    line-height: 1.6;
}
.type-definition-content table td {
    padding: 5px 18px 5px 0;
    text-align: left;
    vertical-align: top;
    line-height: 1.6;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #777A7A;
}


/* burger-menu-icon
----------------------------------------------------------------------------------------*/
.burger-menu-icon {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    position: absolute;
    right: 26px;
    top: 26px;
    display: none;
}
.burger-menu-icon .line {
    fill: none;
    stroke: #000;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.burger-menu-icon .line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}
.burger-menu-icon .line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
}
.burger-menu-icon .line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}
html.menu-opened .burger-menu-icon .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}
html.menu-opened .burger-menu-icon  .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
}
html.menu-opened .burger-menu-icon  .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}


/* ONE CONTENT COLUMN VERSION
----------------------------------------------------------------------------------------*/

body.one-content-column-version .type-definition-content h1,
body.one-content-column-version .type-definition-content h2,
body.one-content-column-version .type-definition-content h3,
body.one-content-column-version .type-definition-content h4,
body.one-content-column-version .type-definition-content h5,
body.one-content-column-version .type-definition-content h6,
body.one-content-column-version .type-definition-content p,
body.one-content-column-version .type-definition-content table,
body.one-content-column-version .type-definition-content ul,
body.one-content-column-version .type-definition-content ol,
body.one-content-column-version .type-definition-content aside,
body.one-content-column-version .type-definition-content dl,
body.one-content-column-version .type-definition-content ul,
body.one-content-column-version .type-definition-content ol {
    margin-right: 0;
    max-width: 100%;
}
body.one-content-column-version .type-definition-content-page .type-definition-content p,
body.one-content-column-version .type-definition-content-page .type-definition-content pre {
    max-width: 100%;
}
body.one-content-column-version .type-definition-content-page {
    background-color: #323f4c;
}
body.one-content-column-version .type-definition-content h1:first-child,
body.one-content-column-version .type-definition-content h2,
body.one-content-column-version .type-definition-content h3,
body.one-content-column-version .type-definition-content h4,
body.one-content-column-version .type-definition-content h5,
body.one-content-column-version .type-definition-content h6 {
    color: #59C3C3;
}
body.one-content-column-version p {
    color: #D6F0F0;
}
body.one-content-column-version .type-definition-content table td {
    color: #D6F0F0;
}
body.one-content-column-version .type-definition-content thead {
    color: #417179;
}

/* RESPONSIVE
----------------------------------------------------------------------------------------*/

@media only screen and (max-width:980px){
    .type-definition-content h1, .type-definition-content h2, .type-definition-content h3, .type-definition-content h4, .type-definition-content h5, .type-definition-content h6, .type-definition-content p, .type-definition-content table, .type-definition-content ul, .type-definition-content ol, .type-definition-content aside, .type-definition-content dl, .type-definition-content ul, .type-definition-content ol {
        margin-right: 0;
    }
    .type-definition-content .central-overflow-x {
        margin: 0;
        padding: 0 28px;
    }
    .type-definition-content-code{
        display: none;
    }
    .type-definition-content pre, .type-definition-content blockquote {
        margin: 20px 0;
        padding: 28px;
        display: block;
        width: auto;
        float: none;
    }
    .type-definition-content pre code {
        margin-top: 0;
    }
}

@media only screen and (max-width:680px){
    html {
        scroll-padding-top: 83px;
    }
    html.menu-opened {
        overflow: hidden;
    }
    .left-menu {
        position: relative;
        width: auto;
    }
    .left-menu .type-definition-content-menu {
        position: fixed;
        width: 400px;
        max-width: 90vw;
        z-index: 3;
        top: 0;
        bottom: 0;
        right: -405px;
        left: auto;
        background-color: #fff;
        margin: 0;
        overflow-x: hidden;
        padding-top: 83px;
        padding-bottom: 20px;
    }
    .left-menu .type-definition-content-menu ul {
        position: relative;
    }
    .left-menu .mobile-menu-closer {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
        background-color: rgba(50, 63, 76, .5);
        opacity: 0;
        visibility: hidden;
    }
    html.menu-opened .left-menu .mobile-menu-closer {
        opacity: 1;
        visibility: visible;
    }
    html.menu-opened .left-menu .type-definition-content-menu {
        right: 0;
    }
    .left-menu .type-definition-content-logo {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 4;
        background-color: #f4f5f8;
    }
    .type-definition-content-logo .logo {
        margin-right: 65px;
    }
    .type-definition-content-page{
        margin-left: 0;
        padding-top: 83px;
    }
    .burger-menu-icon {
        display: block;
    }
}

/* BROWSER AND NON-SEMANTIC STYLING
----------------------------------------------------------------------------------------*/

.cf:before, .cf:after { content: ""; display: block; }
.cf:after { clear: both; }
.ie6 .cf { zoom: 1 }
